.form_element{
    padding: 2.5rem 4rem 3.5rem;
    background-color: #fff;
}

.form_heading{
    padding-bottom: 1.5rem;
    font-size: 2.1rem;
    font-weight: 500;
    color: #333;
}

.actions{
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    gap: 2rem;
}


.actions button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    border-radius: .5rem;
    appearance: none;
    padding: 1rem;
    min-width: 10rem;
    
}