.confirm_modal{
    padding: 3.5rem 4rem 4rem;
}

.title{
    padding-bottom: 2.5rem;
    line-height: 1.5;
}

.message{
    padding-bottom: 2.5rem;
    white-space: wrap;
    font-size: 1.5rem;
}

.actions{
    display: flex;
    padding-top: 6px;
    gap: 2rem;
    width: 120px;
    /* margin: 2rem; */
}