.top_actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1rem 1.8rem 0;
    padding-bottom: 2rem;
}

.top_actions_right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.close{
    background-color: transparent;
    font-size: 2.5rem;
    height: 4rem;
    width: 4rem;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;
    padding-bottom: 3rem;
}


