*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}  

body{
    font-size: 1.6rem;
    font-family: var(--font);
    text-rendering: optimizeSpeed;
    min-height: 100vh;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

button{
    outline: none;
    border: none;
    font-family: inherit;
}

input, textarea, select, optgroup{
    outline: none;
    border: none;
    font-family: inherit;
    line-height: 1.15;
}
ul{
    list-style: none;
}

img,
picture{
    max-width: 100%;
    display: block;
}

details {
    display: block;
}

summary {
    display: list-item;
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
       }

    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}