.select{
    position: relative;
    display: inline-block;
    height: 3.5rem;
    width: 100%;
}

.select_element{
    height: 100%;
    width: 100%;
    padding: 0 .7rem;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, .1);

    position: relative;
}

.select_element .input{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 2rem;
    cursor: pointer;

}

.select_element .input div{
    background-color: rgba(0, 0, 0, .1);
    padding: .3rem .5rem;
    border-radius: .5rem;

}

.select_element .input div button{
    background-color: transparent;
}

.select{
    padding: 0 .7rem;
    border-radius: .5rem;
    position: absolute;
    left: 0;
    top: 3rem;
    background-color: #fff;
    z-index: 99;
    padding: .7rem;
    width: 100%;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    display: none;
}

.select_active{
    display: block;
}


.select > div{
    height: 100px;
    overflow-y: scroll;
}

.select > input{
    border-radius: 0;
    padding: .5rem;
}

.select > div input{
    border-radius: 0;
    padding: .5rem;
}
.select > div input:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
}