.sidebar{
    min-height: 100vh;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.sidebar h2{
    color: #333;
    font-weight: 500;
    font-size: 2rem;
}

.sidebar p{
    font-size: 1.4rem;
    margin-bottom: 3rem;
    color: #333;
    font-weight: 300;
    margin-top: .5rem;
}